@page "/bitacora"

@inherits BitacoraBase 
@using uniformesV51.Model

<h3>Bitacora</h3>

<AuthorizeView>
    <Authorized>
        @if(ElUser != null && !string.IsNullOrEmpty(ElUser.UserId))
        {
            @if(LasBitas != null && LasBitas.Count() < 0)
            {
                <div class="spinner"></div>
            }
            else
            {
                <RadzenCard>
                    
                @if(ElUser.Nivel>4)
                {
                    <p style="display: none;">@(SearchBita.UserId = "Filtro")</p>
                    <RadzenAccordion>
                        <Items>
                            <RadzenAccordionItem Text="Filtro" Icon="plus">
                                    <RadzenTemplateForm Data="@SearchBita" TItem="@Z190_Bitacora"
                                            Submit="@LeerBitacoras" Context="DSearch">
                                        <div class="form-group row">
                                            <b>
                                            <label for="Desc" class="col-sm-5 col-form-label">Descripcion</label>
                                            <label for="Sistema" class="col-sm-3 col-form-label">Sistema</label>
                                            <label for="Buscar" class="col-sm-3 col-form-label">Buscar</label>
                                            </b>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-5">
                                                <RadzenTextBox Name="Desc" @bind-Value=@SearchBita.Desc
                                                   style="display: block; width: 90%;" />

                                            </div>
                                            <div class="col-sm-3">
                                                No
                                                <RadzenSwitch Name="Sistema" @bind-Value=@SearchBita.Sistema />
                                                Si
                                            </div>
                                            <div class="col-sm-3">
                                                <RadzenButton Icon="Go" ButtonType="ButtonType.Submit"
                                                  style="margin-bottom: 10px" />

                                            </div>
                                        </div>

                                    </RadzenTemplateForm>

                            </RadzenAccordionItem>
                        </Items>
                    </RadzenAccordion>
                }
                else
                {
                    <RadzenButton Icon="refresh" Click="@LeerBitacoras"
                        style="margin-bottom: 10px" ButtonStyle="ButtonStyle.Info" />
                }

                </RadzenCard>

                <RadzenCard>
                <RadzenDataGrid @ref="BitaGrid" AllowFiltering="true" AllowPaging="true" PageSize="50"
                            AllowSorting="true" AllowColumnResize="true"
                            ExpandMode="DataGridExpandMode.Single" AllowGrouping="false"
                            EditMode="DataGridEditMode.Single"
                            Data="@LasBitas" TItem="Z190_Bitacora" Context="DBitaAll">

                    <Columns>
                    <RadzenDataGridColumn TItem="@Z190_Bitacora" Filterable="false"
                                          Title="Fecha" Frozen="true" Width="90px" TextAlign="TextAlign.Left">
                        <Template Context=DBita>
                            <label>@($"{@MyFunc.FormatoFecha("DD/MMM/AA", DBita.Fecha)}")</label>
                            <br />
                            <label>@($"{@MyFunc.LaHora(@DBita.Fecha, "S")}")</label>
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="@Z190_Bitacora" Filterable="false"
                                          Title="Usuarios" Frozen="true" Width="140px" TextAlign="TextAlign.Left">
                        <Template Context=DBita>
                            @if (LosUsers.FirstOrDefault(x => x.UserId == DBita.UserId) != null)
                            {
                                <label>
                                    @LosUsers.FirstOrDefault(x=> x.UserId == DBita.UserId).Nombre
                                    @LosUsers.FirstOrDefault(x=> x.UserId == DBita.UserId).Paterno
                                    @LosUsers.FirstOrDefault(x=> x.UserId == DBita.UserId).Materno
                                </label>
                            }
                            else
                            {
                                <label> No hay Nombre! </label>
                            }

                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="@Z190_Bitacora" Property="Desc" Filterable="true"
                                          Title="Descripcion" Width="400px" TextAlign="TextAlign.Left" />
                </Columns>
            </RadzenDataGrid>
            </RadzenCard>
            }
        }
        else
        {
            <div class="spinner"></div>
        }
    </Authorized>

    <NotAuthorized>
        <h1>Es necesario firmar para consultar la bitacora, </h1>
        <RadzenLink Icon="accessibility" Path="Identity/Account/Login?ReturnUrl=/bitacora" 
                Text="Firma" />

    </NotAuthorized>
</AuthorizeView>


@code {
    async Task OnClick()
    {
        await Task.Delay(1);
        SearchBita = null;
    }
    void LeerBitacoras1(){} 
    
}
